header .page-logo {
  background-image: url(../assets/Images/Azure.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: unset;
  height: 250px;
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  header .page-logo {
    height: 500px;
  }
}
@media (min-width: 1024px) {
  header .page-logo {
    height: 700px;
  }
}
header .page-logo-top__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 0 2%;
}
header .page-logo .fa-bars,
header .page-logo .fa-search {
  color: white;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../assets/Images/Background.png);
  width: 100%;
  z-index: 2;
}

body {
  margin: 2%;
}

.page-title {
  box-sizing: border-box;
  background-image: url(../assets/Images/Night.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 30px 40px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0;
}
.page-title__subtitle {
  font-size: 8px;
  font-weight: bold;
  color: #cab500;
}
@media (min-width: 576px) {
  .page-title__subtitle {
    padding: 0 100px 0px 130px;
  }
}
@media (min-width: 768px) {
  .page-title__subtitle {
    font-size: 10pt;
    padding: 30px 80px 0 70px;
  }
}
@media (min-width: 1024px) {
  .page-title__subtitle {
    font-size: 10pt;
    padding: 80px 0 0 160px;
  }
}
.page-title__heading {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #ffffff;
}
@media (min-width: 576px) {
  .page-title__heading {
    font-size: 30px;
    padding: 0 100px 50px 130px;
  }
}
@media (min-width: 768px) {
  .page-title__heading {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    padding: 0 30px 50px 70px;
  }
}
@media (min-width: 1024px) {
  .page-title__heading {
    font-size: 64px;
    letter-spacing: 4px;
    line-height: 70px;
    margin: 5px 0 0 0;
    padding: 0 100px 100px 160px;
  }
}

.page-content {
  height: auto;
  background-color: white;
  width: 100%;
  padding: 30px 30px 5px 30px;
  color: #333333;
  font-weight: normal;
  box-sizing: border-box;
}
.page-content__text-long {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 0pt;
  line-height: 20pt;
  padding: 10px 0;
}
.page-content__text-selected {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: center;
}
.page-content .content__text-selected--bottom {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.page-content .marks {
  margin: 1% 45%;
}
.page-content__authors {
  font-family: "Playfair Display", serif;
  font-size: 13px;
  font-weight: normal;
  color: #2e2a28;
  padding-bottom: 10px;
  width: 120px;
}
.page-content__text-footer--author-by {
  color: #999595;
}
.page-content__social-media {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 15px 0;
  width: 150px;
  border-top: 1px solid #dddada;
}
.page-content__social-media--icons {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #e6e1e1;
  position: relative;
}
.page-content__social-media--icons .networks--social {
  position: absolute;
  margin: 30% 35%;
  font-size: 12px;
  color: #c5c5c5;
}
@media (min-width: 768px) {
  .page-content {
    display: flex;
    flex-flow: row-reverse;
  }
  .page-content--bottom {
    padding: 0 30px 0 18%;
    width: 100%;
  }
  .page-content__text-long {
    width: 75%;
    padding: 10px 80px 0 40px;
    font-size: 20px;
  }
  .page-content__text-selected {
    font-size: 20px;
    padding: 10px 100px 0 20px;
  }
  .page-content__authors {
    width: 120px;
    margin: 50px 0 0 0px;
  }
  .page-content__social-media {
    width: 120px;
    margin: 10px 0 0 0px;
  }
  .page-content__text-selected--bottom {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 80px 0 40px;
  }
  .page-content .marks {
    margin: 2% 45% 1% 38%;
  }
}
@media (min-width: 1024px) {
  .page-content {
    display: flex;
    flex-flow: row-reverse;
    padding: 30px 280px 15px 0;
  }
  .page-content--bottom {
    padding: 0 20px 0 328px;
    width: 100%;
  }
  .page-content__text-long {
    font-size: 18px;
    line-height: 25pt;
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .page-content__text-selected {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 0;
  }
  .page-content__authors {
    font-size: 14px;
    width: 130px;
    margin: 30px 0 0 100px;
    padding-right: 50px;
  }
  .page-content__text-footer--author-by {
    font-size: 14px;
  }
  .page-content__social-media {
    display: flex;
    justify-content: start;
    width: 210px;
    margin: 10px 20px 0 100px;
  }
  .page-content__social-media--icons {
    margin-right: 20px;
  }
  .page-content__text-selected--bottom {
    font-size: 27px;
    padding-left: 10px;
  }
  .page-content .marks {
    margin: 2% 45% 1% 48%;
  }
}

.banner-tree {
  background-image: url(../assets/Images/Tree.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 200px;
}
@media (min-width: 768px) {
  .banner-tree {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .banner-tree {
    height: 500px;
  }
}

.page-footer {
  height: auto;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .page-footer {
    width: 100%;
    padding: 0 100px 0 0px;
  }
}
.page-footer__options {
  display: flex;
  justify-content: space-between;
  margin: 0 80px 0 30px;
}
@media (min-width: 768px) {
  .page-footer__options {
    margin: 0 20% 0 26%;
  }
}
@media (min-width: 1024px) {
  .page-footer__options {
    display: flex;
    justify-content: start;
    margin-left: 30%;
    padding: 0;
    width: 45%;
  }
}
.page-footer__options-button {
  text-decoration: none;
  border: 1px solid #e9f1f8;
  background-color: #e9f1f8;
  border-radius: 40px;
  box-shadow: 0 0 0;
  color: #757a7f;
  font-family: "Lato", sans-serif;
  font-size: 6px;
  font-weight: normal;
  letter-spacing: 0px;
  padding: 2px 5px;
  margin-bottom: 10px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .page-footer__options-button {
    font-size: 9px;
    padding: 5px 8px;
    margin: 0 5px 10px 0;
  }
}
@media (min-width: 1024px) {
  .page-footer__options-button {
    font-size: 11px;
    margin: 0 15px 10px 0;
  }
}
.page-footer__share {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333333;
  padding: 10px 0 20px 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .page-footer__share--share {
    padding: 5px 0 10px 0px;
    margin-right: 15px;
    margin-left: 22%;
  }
}
@media (min-width: 1024px) {
  .page-footer__share--share {
    padding: 5px 0 10px 0px;
    margin-right: 30px;
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .page-footer__share {
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    padding: 20px 5px 10px 0px;
    width: 32%;
    margin: 0 20% 0 30%;
    padding-left: 0;
  }
}
.page-footer__comments {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #757a7f;
  padding: 0 25px;
  height: auto;
  border-bottom: 1px solid #dddada;
  padding-left: 0;
  margin-left: 30px;
  width: 75%;
}
@media (min-width: 768px) {
  .page-footer__comments {
    font-size: 14px;
    width: 48%;
    margin: 0 20% 0 26%;
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .page-footer__comments {
    margin: 0 20% 0 30%;
  }
}
.page-footer__comments.comments--title {
  padding-bottom: 25px;
}
.page-footer__comments-author {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  border-radius: 50%;
}
.page-footer__comments-author-data-name {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #333333;
  padding: 0 0 8px 30px;
  white-space: nowrap;
}
.page-footer__comments-author-data-name .data {
  display: flex;
  width: 300px;
  color: #c5c5c5;
  font-size: 15px;
  margin: 10px;
}
.page-footer__comments-author-data-name .day {
  display: inline;
  padding-left: 4px;
  color: #c5c5c5;
  white-space: nowrap;
}
.page-footer__comments-author-data-name .fa-calendar-o {
  color: #c5c5c5;
  padding-left: 15px;
}
.page-footer__comments-author-description {
  font-family: "Playfair Display", serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #999999;
  padding: 0 30px;
  width: 90%;
}
.page-footer__comments-author-your_comment {
  color: #dad8d8;
  font-size: 10px;
  padding-left: 30px;
  margin: 13px 0;
}
@media (min-width: 768px) {
  .page-footer__comments-author-your_comment {
    text-align: start;
    font-size: 12px;
    padding: 0 0 0 30px;
  }
}
@media (min-width: 1024px) {
  .page-footer__comments-author-your_comment {
    margin: 8px 0 0 0;
    padding: 10px 180px 40px 0;
    padding: 0 0 0 30px;
  }
}
.page-footer .networks {
  text-decoration: none;
  width: 30px;
  height: 6px;
  border-radius: 5px;
  color: white;
  font-size: 8px;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 15px;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .page-footer .networks {
    width: 40px;
    height: 8px;
    font-size: 10px;
    margin-left: 20px;
  }
}
@media (min-width: 1024px) {
  .page-footer .networks {
    width: 50px;
    height: 10px;
    font-size: 12px;
  }
}
.page-footer .networks--facebook {
  background-color: #06649e;
}
.page-footer .networks--twitter {
  background-color: #219bc7;
}
.page-footer .networks--google {
  background-color: #d43a3a;
}

/*# sourceMappingURL=style.css.map */
