*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    
}
body{
    background-image: url(../Images/Background.png);
    width: 100%;
    z-index: 2;
}
h1{
    color: white;
}
.page-logo{
    background-image: url(../Images/Azure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 700px;
    margin: 1% 1% 0 1%;
}
.page-logo-top--nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 98%;
    margin: 0 1%;
}
.page-title{
    background-image: url(../Images/Night.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    color: white;
    width: 98%;
    height: 502px;
    margin: 0 1%;
}
.page-title--p{
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #cab500;
    padding: 80px 0 0 260px;
}
.page-title--g{
    font-family: 'Lato', sans-serif;
    font-size: 60pt;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 80px;
    color: #ffffff;
    padding: 0 203px 0 260px;
}
.page-content-top{
    height: 950px;
    background-color: white;
    width: 98%;
    margin: 0 1%;
    display: flex;
    flex-flow: row-reverse;
}
.page-content-top-text-article{
    width: 75%;
    
}
.page-content-top-text-footer{
    width: 25%;
    padding: 50px 30px 0 180px; 
}
.text-long{
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
    font-weight: normal;
    letter-spacing: 2pt;
    line-height: 20pt;
    color: #333333;
    padding: 50px 420px 0 25px;
}
.text-long-content-top{
    font-family: 'Playfair Display', serif;
    font-size: 16pt;
    font-weight: normal;
    letter-spacing: 2pt;
    line-height: 20pt;
    color: #333333;
    padding: 20px 420px 0 25px;
}
.text-selected-content-top{
    font-family: 'Lato', sans-serif;
    font-size: 30pt;
    font-weight: normal;
    letter-spacing: 3px;
    color: #333333;
    padding: 0px 203px 0px 200px;
}
.text-selected-content-bottom{
    font-family: 'Lato', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 3px;
    color: #333333;
    padding: 55px 203px 0px 25px;
}
.img-aspas{
    padding: 45px 450px 45px 450px; 
}
.content-top-text-footer-author{
    font-family: 'Playfair Display', serif;
    font-size: 13pt;
    font-weight: normal;
    color: #2e2a28;
}
.content-top-text-footer-author-by{
    color: rgb(153, 149, 149);
}
.page-content-top-text-footer-line{
    padding: 30px 0;
}
.page-content-top-text-footer-social{
    display: flex;
    justify-content: space-between;
    width: 130px;
}
.page-content-top-text-footer-social-border{
    position: relative;
    
}
.page-content-top-text-footer-social-icon{
    position: absolute;
    top: 40%;
    left: 40%;
}
.banner-tree{
    background-image: url(../Images/Tree.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 98%;
    margin: 0 1% 0 1%;
    height: 500px;
}
.page-content-bottom{
    height: 500px;
    background-color: white;
    width: 98%;
    margin: 0 1% 0 1%;
}
.page-content-bottom-text-article{
    padding-left: 25%;
}
.page-footer{
    height: 750px;
    background-color: white;
    width: 98%;
    margin: 0 1% 1% 1%;
    padding-left: 25%;
}
.page-footer-options-button{
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 0;
    color: #757a7f;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin: 50px 0 40px 25px;
}
.page-footer-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333333;
    padding: 5px 0px 50px 25px;
    width: 35%;
}
.page-footer-comments{
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    font-weight: normal;
    letter-spacing: 3px;
    color: #757a7f;
    padding: 0 203px 0 25px;
}
.page-footer-comments-author{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}
.page-footer-comments-author-data{
    display: flex;
    justify-content: start;
    margin: 0;
} 
.page-footer-comments-author-data-name{
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333333;
    padding: 0 0 20px 50px;
}
.page-footer-comments-author-description{
    font-family: 'Playfair Display', serif;
    font-size: 13pt;
    font-weight: normal;
    letter-spacing: 0px;
    color: #999999;   
    padding: 0 0 0 50px;
    width: 540px;
}
.page-footer-comments-author-your_comment{
    font-family: 'Playfair Display', serif;
    font-size: 13pt;
    letter-spacing: 0px;
    color: #cccccc;   
    padding: 20px 0 0 50px;
    width: 540px;
}


