html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../assets/Images/Background.png);
    width: 100%;
    z-index: 2;
}

body{
    margin: 2%;
}

