.page-content {
  height: auto;
  background-color: white;
  width: 100%;
  padding: 30px 30px 5px 30px;
  color: #333333;
  font-weight: normal;
  box-sizing: border-box;

  &__text-long {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    letter-spacing: 0pt;
    line-height: 20pt;
    padding: 10px 0;
  }
  &__text-selected {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .content__text-selected--bottom {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .marks {
    margin: 1% 45%;
  }
  &__authors {
    font-family: "Playfair Display", serif;
    font-size: 13px;
    font-weight: normal;
    color: #2e2a28;
    padding-bottom: 10px;
    width: 120px;
  }
  &__text-footer--author-by {
    color: rgb(153, 149, 149);
  }
  &__social-media {
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding: 15px 0;
    width: 150px;
    border-top: 1px solid rgb(221, 218, 218);

    &--icons {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid rgb(230, 225, 225);
      position: relative;

      .networks--social {
        position: absolute;
        margin: 30% 35%;
        font-size: 12px;
        color: rgb(197, 197, 197);
      }
    }
  }
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row-reverse;

    &--bottom {
      padding: 0 30px 0 18%;
      width: 100%;
    }

    &__text-long {
      width: 75%;
      padding: 10px 80px 0 40px;
      font-size: 20px;
    }
    &__text-selected {
      font-size: 20px;
      padding: 10px 100px 0 20px;
    }
    &__authors {
      width: 120px;
      margin: 50px 0 0 0px;
    }
    &__social-media {
      width: 120px;
      margin: 10px 0 0 0px;
    }
    &__text-selected--bottom {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 10px 80px 0 40px;
    }
    .marks {
      margin: 2% 45% 1% 38%;
    }
  }
  @media (min-width: 1024px) {
    display: flex;
    flex-flow: row-reverse;
    padding: 30px 280px 15px 0;

    &--bottom {
      padding: 0 20px 0 328px;
      width: 100%;
    }
    &__text-long {
      font-size: 18px;
      line-height: 25pt;
      width: 100%;
      margin: 0;
      padding-left: 10px;
      padding-top: 15px;
      padding-bottom: 20px;
    }
    &__text-selected {
      font-family: "Lato", sans-serif;
      font-size: 25px;
      letter-spacing: 1.5px;
      text-align: center;
      padding: 0;
    }
    &__authors {
      font-size: 14px;
      width: 130px;
      margin: 30px 0 0 100px;
      padding-right: 50px;
    }
    &__text-footer--author-by {
      font-size: 14px;
    }
    &__social-media {
      display: flex;
      justify-content: start;
      width: 210px;
      margin: 10px 20px 0 100px;

      &--icons {
        margin-right: 20px;
      }
    }
    &__text-selected--bottom {
      font-size: 27px;
      padding-left: 10px;
    }
    .marks {
      margin: 2% 45% 1% 48%;
    }
  }
}
.banner-tree {
  background-image: url(../assets/Images/Tree.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 200px;

  @media (min-width: 768px) {
    height: 350px;
  }
  @media (min-width: 1024px) {
    height: 500px;
  }
}
