.page-title {
  box-sizing: border-box;
  background-image: url(../assets/Images/Night.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 30px 40px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0;

  &__subtitle {
    font-size: 8px;
    color: #cab500;

    @media (min-width: 768px) {
      font-size: 10pt;
      padding: 30px 80px 0 70px;
    }

    @media (min-width: 1024px) {
      font-size: 10pt;
      padding: 80px 0 0 160px;
    }
  }

  &__heading {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 3px;
      padding: 0 30px 50px 70px;
    }

    @media (min-width: 1024px) {
      font-size: 64px;
      letter-spacing: 4px;
      line-height: 70px;
      margin: 5px 0 0 0;
      padding: 0 100px 100px 160px;
    }
  }
}
